/* Only dimensions here */

html, body {
  /* width: 300px; */
  margin: 0 auto;
  padding: 0;
  font-family: 'Gentium Book Basic', serif;
  text-align: center;
}

#container {
  position: relative;
  /* width: 300px; */
  margin: 3px auto;
}

#topbar {
  /* position: relative; */
  /* height: 40px; */
  margin: 10px;
}

.button {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  margin: 3px;
  border-radius: 6px;
  cursor: pointer;
}

#board {
  font-size: 0px;
  display: flex;
  left: 0px;
  right: 0px;
  border-radius: 10px;
}

#scores {
  margin: 3px;
  padding: 2px;
  border-width: 1px;
  /* width: 60px; */
  left: 0px;
  right: 0px;
  border-radius: 10px;
  /* height: auto; */
  /* 400px; */
  text-align: center;
}

#grid {
  /* width: 160px; */
  /* height: 400px; */
  padding: 2px;
  border-width: 1px;
  border-radius: 10px;
  margin: 3px 0px;
  /* left: 0px;
  right: 0px; */
  text-align: left;
}

#pegBank {
  width: 60px;
  display: inline;
  padding: 2px;
  border-width: 1px;
  margin: 3px;
  left: 0px;
  right: 0px;
  border-radius: 10px;
}

#overlay {
  position: absolute;
  height: 0px;
  top: 120px;
  left: 100%;
  transition: right 0.4s
}

#overlay-active {
  position: absolute;
  /* width: 200px; */
  left: 20px;
  top: 120px;
  transition: left 0.4s;
  padding: 0 20px;
  z-index: 100;
  border-radius: 20px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}

#currentGuess {
  /* display: inline-block; */
  display: flex;
  padding: 0;
  margin: 0;
  /* text-align: left; */
}

.oldGuess {
  /* display: inline-block; */
  display: flex;
  padding: 0;
  margin: 0;
  text-align: left;
}

#solution {
  display: inline-block;
  padding: 0;
  margin: 0px;
  /* width: 160px; */
}

.codePeg {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px black;
}

.keyPegContainer {
  display: inline-block;
  /* display: flex; */
  padding: 4px 2px 0px;
  height: 36px;
  /* width: 36px; */
  text-align: left;
}

.keyPeg {
  display: inline-flex;
  /* inline-block; */
  height: 14px;
  width: 14px;
  margin: 1px 1px;
  padding: 0;
  border-radius: 5px;
}

/* mobile settings */

@media screen and (max-width: 520px) {
  #topbar {
    height: 30px;
  }
  .button {
    height: 30px;
    line-height: 30px;
  }
}