/*
https://ethanschoonover.com/solarized/
:root {
  --solarized-base03: #002b36;
  --solarized-base02: #073642;
  --solarized-base01: #586e75;
  --solarized-base00: #657b83;
  --solarized-base0: #839496;
  --solarized-base1: #93a1a1;
  --solarized-base2: #eee8d5;
  --solarized-base3: #fdf6e3;
  --solarized-yellow: #b58900;
  --solarized-orange: #cb4b16;
  --solarized-red: #dc322f;
  --solarized-magenta: #d33682;
  --solarized-violet: #6c71c4;
  --solarized-blue: #268bd2;
  --solarized-cyan: #2aa198;
  --solarized-green: #859900;
} */
html, body {
  background: #fdf6e3;
  font-style: "Gentium Book Basic";
}

#container {}

footer {
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:link {
  color: rgba(0, 0, 0, 0.9);
}

a:visited {
  color: rgba(0, 0, 0, 0.9);
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
}

a:active {
  color: rgba(0, 0, 0, 0.7);
}

#topbar {}

.button {
  background: #eee8d5;
  color: #073642;
  box-shadow: 1px 1px 2px black;
}

#board {
  background-color: #002b36;
  box-shadow: 2px 2px 3px black;
}

#scores {
  border-style: solid;
  border-color: black;
  background: #839496;
  /*586e75;*/
}

#grid {
  border-style: solid;
  border-color: black;
  background: #839496;
}

#pegBank {
  border-style: solid;
  border-color: black;
  background: #586e75;
  /*073642;*/
}

#overlay {}

#overlay-active {
  background: rgba(250, 248, 239, 0.8);
  color: #073642;
}

#currentGuess {
  /* background: #839496; */
}

.oldGuess {
  /* background: #93a1a1; */
}

.codePeg {}

.codePeg-0 {
  background: #b58900;
}

.codePeg-1 {
  background: #268bd2;
}

.codePeg-2 {
  background: #dc322f;
}

.codePeg-3 {
  background: #2aa198;
}

.codePeg-4 {
  background: white;
}

.codePeg-5 {
  background: black;
}

.codePeg-6 {
  background: #6c71c4;
}

.codePeg-7 {
  background: #d33682;
}

.keyPegContainer {}

.keyPeg {}

.keyPeg-0 {
  background: black;
  box-shadow: 1px 1px 1px black;
}

.keyPeg-1 {
  background: white;
  box-shadow: 1px 1px 1px black;
}

.keyPeg-2 {
  border-style: dashed;
  border-color: black;
  /* redefine geom - */
  border-width: 1px;
  height: 12px;
  width: 12px;
  margin: 1px 1px;
  padding: 0;
  border-radius: 4px;
}