html, body {
  width: 300px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Gentium Book Basic', serif;
}

h1 {
  font-size: 40px;
  /* font-weight: bold; */
}

#container {
  /* align-items: center; */
  position: relative;
  width: auto;
  height: 500px;
  margin: 0px auto;
}

#board {
  font-size: 0px;
  /* line-height: 50px; */
  display: flex;
  background-color: #073642;
  left: 0px;
  right: 0px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
  text-align: center;
}

#topbar {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
  text-align: center;
}

#button {
  display: inline-block;
  height: 40px;
  border-radius: 6px;
  padding: 0 15px;
  line-height: 40px;
  cursor: pointer;
  margin: 3px;
}

#scores {
  margin: 3px;
  padding: 2px;
  border-width: 1px;
  width: 50px;
  border-style: solid;
  border-color: black;
  background: #586e75;
  left: 0px;
  right: 0px;
  border-radius: 10px;
  height: 400px;
}

#grid {
  margin: 3px 0px;
  padding: 2px;
  border-width: 1px;
  width: 160px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background: gray;
  left: 0px;
  right: 0px;
  height: 400px;
}

#pegBank {
  width: 60px;
  vertical-align: middle;
  display: inline;
  margin: 3px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background: #002b36;
  left: 0px;
  right: 0px;
  border-radius: 10px;
}

ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

li {
  display: inline;
  text-align: center;
  /* flex: 1; */
}

.codePeg {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px black;
}

.keyPeg {
  display: inline-flex;
  /* inline-block; */
  height: 14px;
  width: 14px;
  margin: 1px 1px;
  padding: 0;
  border-radius: 5px;
  /* border-style: dashed; */
  /* border-width: 1px; */
  /* border-color: black; */
  /* padding: 5px 5px; */
  /* line-height: 20px; */
  /* cursor: pointer; */
}

.keyPeg-2 {
  border-width: 1px;
  height: 12px;
  width: 12px;
  margin: 1px 1px;
  padding: 0;
  border-radius: 4px;
}

#overlay {
  position: absolute;
  height: 0px;
  top: 100%;
  left: 100%;
}

#overlay-active {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 20px;
  top: 120px;
  transition: left 0.4s;
  padding: 0 20px;
  z-index: 100;
  border-radius: 20px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#currentTry {
  display: inline-block;
  padding: 0;
  margin: 0;
  display: flex;
}

#oldTry {
  display: inline-block;
  padding: 0;
  margin: 0;
  display: flex;
}

#keyPegContainer {
  /* background: #839496; */
  display: inline-block;
  padding: 4px 2px 0px;
  margin: 0px;
  /* display: flex; */
  height: 36px;
  width: 36px;
}