html, body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 500px;
  margin: 0px auto;
  font-family: 'Gentium Book Basic', serif;
}

h1 {
  font-size: 40px;
  /* font-weight: bold; */
}

nav {
  /* height: 50px; */
  flex: 100%;
  display: flex;
}

ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

li {
  display: inline;
  text-align: center;
  /* flex: 1; */
}

.codePeg {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 10px;
  border-radius: 20px;
  line-height: 40px;
  /* cursor: pointer; */
  box-shadow: 2px 2px 3px black;
}

.keyPeg {
  position: absolute;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 5px;
  border-radius: 5px;
  /* padding: 5px 5px; */
  line-height: 20px;
  /* cursor: pointer; */
}

#grid {
  position: relative;
  width: 300px;
  height: 400px;
  z-index: 0;
  overflow: hidden;
  text-align: left;
  cursor: default;
}

#topright-button {
  display: inline-block;
  height: 40px;
  border-radius: 6px;
  padding: 0 15px;
  line-height: 40px;
  cursor: pointer;
  margin: 3px;
}

#overlay {
  display: inline-block;
  margin: 150px auto;
  position: relative;
  height: 50px;
  left: 110%;
  transition: left 0.4s;
  padding: 0 20px;
  z-index: 100;
  border-radius: 20px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}