/* :root {
  --solarized-base03: #002b36;
  --solarized-base02: #073642;
  --solarized-base01: #586e75;
  --solarized-base00: #657b83;
  --solarized-base0: #839496;
  --solarized-base1: #93a1a1;
  --solarized-base2: #eee8d5;
  --solarized-base3: #fdf6e3;
  --solarized-yellow: #b58900;
  --solarized-orange: #cb4b16;
  --solarized-red: #dc322f;
  --solarized-magenta: #d33682;
  --solarized-violet: #6c71c4;
  --solarized-blue: #268bd2;
  --solarized-cyan: #2aa198;
  --solarized-green: #859900;
} */

h1 {
  color: #657b83;
  /* text-shadow: 0px 0px 5px var(black); */
}

html, body {
  background: #fdf6e3;
}

#topright-button {
  background: #657b83;
  color: #fdf6e3;
  /* text-shadow: 3px 3px 2px var(white); */
}

#grid {
  background: #eee8d5;
  /*#e5e5e2; */
}

#currentTry {
  background: #839496;
}

#oldTry {
  background: #93a1a1;
}

#overlay {
  background: rgba(250, 248, 239, 0.8);
}

.codePeg-0 {
  background: #b58900;
  /*yellow;*/
}

.codePeg-1 {
  background: #268bd2;
}

.codePeg-2 {
  background: #dc322f;
}

.codePeg-3 {
  background: #2aa198;
}

.codePeg-4 {
  background: white;
}

.codePeg-5 {
  background: black;
}

.codePeg-6 {
  background: #6c71c4;
}

.codePeg-7 {
  background: #d33682;
}

.keyPeg-0 {
  background: black;
  box-shadow: 1px 1px 2px black;
}

.keyPeg-1 {
  background: white;
  box-shadow: 1px 1px 2px black;
}

.keyPeg-2 {
  border-style: dashed;
  border-width: 1px;
  border-color: black;
}

/* mobile settings */

/* @media screen and (max-width: 520px) {
  #score {
    font-size: 34px;
  }

} */