:root {
  --solarized-base03: #002b36;
  --solarized-base02: #073642;
  --solarized-base01: #586e75;
  --solarized-base00: #657b83;
  --solarized-base0: #839496;
  --solarized-base1: #93a1a1;
  --solarized-base2: #eee8d5;
  --solarized-base3: #fdf6e3;
  --solarized-yellow: #b58900;
  --solarized-orange: #cb4b16;
  --solarized-red: #dc322f;
  --solarized-magenta: #d33682;
  --solarized-violet: #6c71c4;
  --solarized-blue: #268bd2;
  --solarized-cyan: #2aa198;
  --solarized-green: #859900;
  /*-----------*/
  /*-----------*/
  --bg-color: var(--solarized-base3);
  --grid-color: var(--solarized-base2);
  --text-h1: var(--solarized-base00);
  /*var(--solarized-base03);*/
  /*-Boutons-*/
  --button-bg-color: var(--solarized-base00);
  --button-txt-color: var(--solarized-base3);
  /*--*/
  --yellow: var(--solarized-yellow);
  --blue: var(--solarized-blue);
  --red: var(--solarized-red);
  --green: var(--solarized-cyan);
  --white: white;
  --black: black;
  --purple: var(--solarized-violet);
  --pink: var(--solarized-magenta);
  /**/
  --orange: var(--solarized-orange);
  --magenta: var(--solarized-magenta);
  --violet: var(--solarized-violet);
  --cyan: var(--solarized-cyan);
}

h1 {
  color: var(--text-h1);
  /* text-shadow: 0px 0px 5px var(--black); */
}

html, body {
  background: var(--bg-color);
}

#topright-button {
  background: var(--button-bg-color);
  color: var(--button-txt-color);
  /* text-shadow: 3px 3px 2px var(--white); */
}

#grid {
  background: var(--grid-color);
  /*#e5e5e2; */
}

#overlay {
  background: rgba(250, 248, 239, 0.8);
}

.codePeg-0 {
  background: var(--yellow);
  /*yellow;*/
}

.codePeg-1 {
  background: var(--blue);
}

.codePeg-2 {
  background: var(--red);
}

.codePeg-3 {
  background: var(--green);
}

.codePeg-4 {
  background: var(--white);
}

.codePeg-5 {
  background: var(--black);
}

.codePeg-6 {
  background: var(--purple);
}

.codePeg-7 {
  background: var(--pink);
}

.keyPeg-0 {
  background: black;
  box-shadow: 1px 1px 2px black;
}

.keyPeg-1 {
  background: white;
  box-shadow: 1px 1px 2px black;
}

.keyPeg-2 {
  border-style: dashed;
  border-width: 1px;
  border-color: black;
}

/* mobile settings */

/* @media screen and (max-width: 520px) {
  #score {
    font-size: 34px;
  }

} */